.query-search-management-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/query.webp'); /* Replace 'your-background-image.jpg' with your actual image path */
    background-size: cover;
    filter: blur(10px);
  }
  
  .content {
    z-index: 1;
    text-align: center;
  }
  
  .title {
    margin-bottom: 20px;
    color: black;
  }
  
  .search-input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #00ffa6;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .results-title {
    margin-top: 20px;
    color:goldenrod;
  }
  
  .results-list {
    list-style-type: none;
    padding: 0;
  }
  
  .result-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    animation: fadeIn 1s ease;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  /* Default styles */

/* Mobile-first approach */
.query-search-management-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  /* Styles for larger screens */
  @media (min-width: 768px) {
    .query-search-management-container {
      padding: 50px;
    }
  }
  
  /* Styles for larger screens */
  @media (min-width: 1024px) {
    .query-search-management-container {
      padding: 100px;
    }
  }
  